<div class="container">
  <!-- No registered employee message -->
  <p *ngIf="Employee.length <= 0" class="no-data text-center">Não há funcionários cadastrados</p>

  <!-- Employee list -->
  <table class="table table-bordered" *ngIf="Employee.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">ID do Funcionário</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Função</th>
        <th scope="col">Celular</th>
        <th scope="col center">Edição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let i = index">
        <th scope="row">{{employee._id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.designation}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td class="text-center edit-block">
          <!-- Edit -->
          <span class="edit" [routerLink]="['/edit-employee/', employee._id]">
            <button type="button" class="btn btn-success btn-sm">Editar</button>
          </span>
          <!-- Delete -->
          <span class="delete" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Deletar</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>